<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Games</ion-title>
    <div class="nba-logo" start>
    	<img src="assets/imgs/nba-logo.png" alt="">
    </div>
  </ion-navbar>

  <ion-toolbar>
    <ion-grid no-padding class="toolbar__select-calendar">
    	<ion-row>
    		<ion-col col-2>
    			<button ion-button icon-only (click)="selectPrevday()">
					  <ion-icon name="ios-arrow-back"></ion-icon>
					</button>
    		</ion-col>
    		<ion-col col-8 class="text-center">
    			<button ion-button icon-start clear (click)="picker.open()">
    				<ion-icon name="calendar"></ion-icon>
				    <ion-datetime #picker displayFormat="DDDD, MMM.D" pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="selecteDay" (ionChange)="changeDate()"></ion-datetime>				    
				  </button>
					<!-- <ion-datetime displayFormat="DDDD, MMM.D" pickerFormat="MM/DD/YYYY" [(ngModel)]="selecteDay"></ion-datetime> -->
    		</ion-col>
    		<ion-col col-2 class="text-right">
    			<button ion-button icon-only (click)="selectNextday()">
					  <ion-icon name="ios-arrow-forward"></ion-icon>
					</button>    			
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>


<ion-content>
	<game-team-item></game-team-item>
</ion-content>
