page-home {
	.toolbar{
		&__select-group{
			border: 1px solid #d3d3d3;

			ion-col:last-child {
				border-left: 1px solid #d3d3d3;
			}

			ion-label {
				position: absolute;
		    margin: 0;
		    left: 16px;
		    font-size: 10px;
		    top: 3px;
		    color: #7c7c7c;		    
			}

			/* ion-select style */
			ion-select {
				margin: 0;
				max-width: 100%;
				padding: 14px 8px 8px 16px;
			}
		}
	}
}
