<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Overview
    </ion-title>
    <div class="nba-logo" start>
    	<img src="assets/imgs/nba-logo.png" alt="">
    </div>
    <!-- <ion-buttons start>
        <button ion-button icon-only><ion-icon name="home"></ion-icon></button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar>
    <ion-grid no-padding class="toolbar__select-group">
    	<ion-row>
    		<ion-col col-6>
    			<ion-label>Calendar</ion-label>
    			<ion-select [(ngModel)]="calendar" interface="popover">
				    <ion-option value="object:7">All Weeks</ion-option>
				    <ion-option value="object:8">Week 1</ion-option>
				    <ion-option value="object:9">Week 2</ion-option>
				    <ion-option value="object:10">Week 3</ion-option>
				    <ion-option value="object:11">Week 4</ion-option>
				    <ion-option value="object:12">Week 5</ion-option>
				    <ion-option value="object:13">Week 6</ion-option>
				    <ion-option value="object:14">Week 7</ion-option>
				    <ion-option value="object:15">Week 8</ion-option>
				    <ion-option value="object:16">Week 9</ion-option>
				    <ion-option value="object:17">Week 10</ion-option>
				    <ion-option value="object:18">Week 11</ion-option>
				    <ion-option value="object:19">Week 12</ion-option>
				    <ion-option value="object:20">Week 13</ion-option>
				    <ion-option value="object:21">Week 14</ion-option>
				    <ion-option value="object:22">Week 15</ion-option>
				    <ion-option value="object:23">Week 16</ion-option>
				    <ion-option value="object:24">Week 17</ion-option>
				    <ion-option value="object:25">Week 18</ion-option>
				    <ion-option value="object:26">Week 19</ion-option>
				    <ion-option value="object:27">Week 20</ion-option>
				    <ion-option value="object:28">Week 21</ion-option>				    
				    <ion-option value="object:29">Week 22</ion-option>
				    <ion-option value="object:30">Week 23</ion-option>
				    <ion-option value="object:31">Week 24</ion-option>
				    <ion-option value="object:32">Week 25</ion-option>
				    <ion-option value="object:33">Week 26</ion-option>
				    <ion-option value="object:34">All Months</ion-option>
				    <ion-option value="object:35">January</ion-option>
				    <ion-option value="object:36">February</ion-option>
				    <ion-option value="object:37">March</ion-option>
				    <ion-option value="object:38">April</ion-option>
				    <ion-option value="object:39">May</ion-option>
				    <ion-option value="object:40">June</ion-option>
				    <ion-option value="object:41">September</ion-option>
				    <ion-option value="object:42">October</ion-option>
				    <ion-option value="object:43">November</ion-option>
				    <ion-option value="object:44">December</ion-option>
				  </ion-select>
    		</ion-col>
    		<ion-col col-6>
    			<ion-label>Team</ion-label>
    			<ion-select [(ngModel)]="teams" interface="popover">
				    <ion-option value="object:46">All Teams</ion-option>
				    <ion-option value="object:47">Atlanta Hawks</ion-option>
				    <ion-option value="object:48">Boston Celtics</ion-option>
				    <ion-option value="object:49">Brooklyn Nets</ion-option>
				    <ion-option value="object:50">Charlotte Hornets</ion-option>
				    <ion-option value="object:51">Chicago Bulls</ion-option>
				    <ion-option value="object:52">Cleveland Cavaliers</ion-option>
				    <ion-option value="object:53">Dallas Mavericks</ion-option>
				    <ion-option value="object:54">Denver Nuggets</ion-option>
				    <ion-option value="object:55">Detroit Pistons</ion-option>
				    <ion-option value="object:56">Golden State Warriors</ion-option>
				    <ion-option value="object:57">Houston Rockets</ion-option>
				    <ion-option value="object:58">Indiana Pacers</ion-option>
				    <ion-option value="object:59">LA Clippers</ion-option>
				    <ion-option value="object:60">Los Angeles Lakers</ion-option>
				    <ion-option value="object:61">Memphis Grizzlies</ion-option>
				    <ion-option value="object:62">Miami Heat</ion-option>
				    <ion-option value="object:63">Milwaukee Bucks</ion-option>
				    <ion-option value="object:64">Minnesota Timberwolves</ion-option>
				    <ion-option value="object:65">New Orleans Pelicans</ion-option>
				    <ion-option value="object:66">New York Knicks</ion-option>
				    <ion-option value="object:67">Oklahoma City Thunder</ion-option>
				    <ion-option value="object:68">Orlando Magic</ion-option>
				    <ion-option value="object:69">Philadelphia 76ers</ion-option>
				    <ion-option value="object:70">Phoenix Suns</ion-option>
				    <ion-option value="object:71">Portland Trail Blazers</ion-option>
				    <ion-option value="object:72">Sacramento Kings</ion-option>
				    <ion-option value="object:73">San Antonio Spurs</ion-option>
				    <ion-option value="object:74">Toronto Raptors</ion-option>
				    <ion-option value="object:75">Utah Jazz</ion-option>
				    <ion-option value="object:76">Washington Wizards</ion-option>
				  </ion-select>
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <schedule-item-group></schedule-item-group>
</ion-content>
