<ion-item-group>
  <ion-item-divider color="light">
  	<h4 class="schedule-content__date">Monday, October 1</h4>
  	<p class="schedule-content__week">Week 1</p>
  	<p class="schedule-content__week">4 GAMES</p>
  </ion-item-divider>
  <ion-item>
  	<div class="schedule-content__time">
	  	<p>7:00 PM ET</p>
			<p>PRE SEASON</p>
  	</div>
		<div class="schedule-content__teams" item-end>
			<h4>Orlando Magic</h4>
			<h4>Philadelphia 76ers</h4>
		</div>
  </ion-item>
  <ion-item>
  	<div class="schedule-content__time">
	  	<p>7:00 PM ET</p>
			<p>PRE SEASON</p>
  	</div>
		<div class="schedule-content__teams" item-end>
			<h4 class="criteria-game">New York Knicks</h4>
			<h4>Washington Wizards</h4>
		</div>
  </ion-item>
</ion-item-group>