schedule-item-group {
	.schedule-content {
		&__date {
			color: color($colors, primary);
			font-size: 1.7rem;
		}

		&__week {
			color: #a2a2a2;
	    text-transform: uppercase;
    	font-size: 1.25rem;
    	font-weight: bold;
		}

		&__time {
			p {
				color: #333;
				font-size: 13px;
			}
		}

		&__teams {
			h4 {
				color: color($colors, primary);
				font-weight: bold;
				text-align: right; 		

				&.criteria-game{
					color: $criteria;
				}		
			}
		}
	}
}
