<div class="game-team-item__wrapper">
  <div class="game-title__top">
  	<span>
  		<span class="game-title__time-hours">8:00</span><span class="timezone">PM ET</span>
  	</span>
  </div>

  <div class="game-team-score game-team-score__loser row">
  	<div class="game-team-score__name-record col" col-10>
  		<div class="team-name">Philadelphia 76ers</div>
  		<div class="team-record">
  			<span>(0<span aria-hidden="true">-</span>3)</span>
  		</div>
  	</div>
  	<div class="game-team-score__score" col-2>
  		<div class="team-score">97</div>
  	</div>
  </div>
  <div class="game-team-score row">
  	<div class="game-team-score__name-record col" col-10>
  		<div class="team-name">Washington Wizards</div>
  		<div class="team-record">
  			<span>(3<span aria-hidden="true">-</span>0)</span>
  		</div>
  	</div>
  	<div class="game-team-score__score" col-2>
  		<div class="team-score">105</div>
  	</div>
  </div>
</div>
