game-team-item {
	display: block;
  overflow: hidden;
	margin: 12px;
	width: calc(100% - 24px);
	background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  border-radius: 4px;

	.game-team-item__wrapper{
		padding: 6px 10px 7px 3px;
	}

	.game-title{
		&__top{
			margin-left: 10px;
	    display: flex;
	    justify-content: space-between;
	    -ms-flex-align: center;
	    height: 28px;

	    .timezone{
  	    font-size: 10px;
    		padding-left: 4px;
	    }
		}
	}

	.show-for-sr {
		display: none;
	}

	.game-team-score{
		&__name-record{
			display: flex;
	    align-items: baseline;
	    padding: 0;
	    padding-left: 10px;

			.team-name{
				font-size: 15px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			}

			.team-record{
				font-size: 11px;		    
		    padding-left: 4px;
			}
		}

		&__score{
			flex: 1 0 0;
    	text-align: center;
    	padding: 0;
		}

		&.game-team-score__loser{
			color: #66737C;
		}

	}

}
